<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <center><h1>옷을 선택해주세요.</h1></center>
      <center><h1>모델 예측 : {{pic.predict([2])}}</h1></center>

      <center><select class="form-select" aria-label="Default select example">
          <option selected>옷 종류</option>
          <option value="1" >티셔츠</option>
          <option value="2" >맨투맨</option>
          <option value="3" >후드티</option>
          <option value="4" >자켓</option>
          <option value="5" >패딩</option>
          <option value="6" >셔츠</option>
          <option value="7" >니트</option>
          <option value="8" >가디건</option>
          <option value="9" >코트</option>
          <option value="10" >바지</option>
        </select></center>
        <center><button type="button" class="btn btn-primary btn-lg">선택</button></center>
</body>
</html>